$grid-width : 600px
$grid-height : 600px


#game-container


#game-grid-container
  display: flex
  width: $grid-width
  height: $grid-height
  margin: 0 auto
  margin-top: 20px
  flex-flow: wrap
  box-sizing: content-box
  align-content: flex-start
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

.box
  margin-bottom: 0
  padding: 0
  border: 1px solid black

.on
  background-color: #496fd1


.off
  background-color: #ebf1ff

#age2
 background-color: #6791ff


#age3
 background-color: #82a5ff


#age4
 background-color: #b9cdff
